.headerbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed black;
  padding: 2rem;
  width: 40%;
  min-width: 16rem;
  max-width: 40rem;
  position: absolute;
  top: 50%;
  transform: translate(40%, -50%);
  background-color: #fff;
  z-index: 1;
  height: 70%;
}

.headerbox__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.headerbox__title {
  font-size: 3rem;
  font-weight: 700;
  word-wrap: none;
}

.headerbox__title__dot {
  color: var(--orange);
}

.headerbox__description {
  font-size: 1rem;
}

.headerbox__inner > *:not(:last-child) {
  margin-bottom: 1.5rem;
}
