:root {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  --orange: #f4a127;
  --lightorange: #fff6e6;
  --green: #29a499;
  --lightgrey: #e2e2e2;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}
